<p style="margin-bottom: 50px;">
  De nos jours, la vie est si stressante que nous passons nos journées à courir. On ne voit plus le temps passer.
  <br><br>

  Le rythme de nos journées se résume à <strong>Métro</strong> – <strong>Boulot</strong> – <strong>Dodo</strong> !
  <br><br>

  Bien entendu, n’oublions pas les problèmes familiaux, scolaires, éducatifs et financiers.
  <br>

  Mais la culture a-t-elle encore une place dans notre vie ?
  <br><br>

  A cette question, une seule réponse : <strong>OUI</strong>.
  <br><br>

  Il faut alors que l’être humain puisse se poser, puisse ressentir de nouvelles émotions,
  <br>

  pour enfin se sentir vivant et être acteur de sa vie et permettre à la culture de l’habiter pleinement.
  <br><br>

  L’objet de l’association est d’avoir une <strong>meilleure estime de soi</strong>, de <strong>mieux se connaître</strong> et <br>

  <strong>comprendre ses émotions</strong> afin de pouvoir les partager et donner du plaisir au spectateur.
  <br><br>

  Pour cela, nous allons faire des <strong>ateliers</strong> théâtre, travailler <strong>l’expression corporelle</strong>, préparer un <strong>spectacle de fin d’année</strong>.
  <br><br>

  L’expression corporelle va nous apprendre à exprimer nos émotions, notre personnalité au moyen des mouvements de notre corps.
  <br> <br>

  Lors cette représentation de fin d’année, nous pourrons mettre à profit tout notre travail de l’année.
  <br>

  Nous pourrons, alors, partager, donner nos émotions au spectateur afin qu’il puisse se divertir.
  <br><br>

  Nous souhaitons aussi participer à des festivals, et pouvoir contribuer à la vie de Genas.
  <br><br>

  Nous voulons aussi permettre à nos adhérents qui le souhaitent de participer à des stages.
  <br><br>

  Le théâtre n’est autre que le reflet de la vie avec une touche de dérision.
</p>
