<%= render 'header' %>
<div class="container" id="presentation">
  <%= render 'presentation' %>
</div>
<div class="containerbis" id="event" data-controller='event'>
  <h2>Prochain événement</h2>

</div>
<div class="container" id="production">
  <h2>Anciennes pièces jouées</h2>
</div>
<div class="containerbis" id="contact">
  <h2>Pour nous contacter</h2>
</div>
