
.containerbis {
  background-color: #EBE3D5;
  padding: 2px 0;
}

.card {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  background-color: #EBE3D5;
  width: 70%;
  border-radius: 8px;
}

.card2 {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 3%;
  width: 35%;
  line-height: 28px;
  white-space: pre-line;
}

.card3 {
  display: inline-block;
  vertical-align: middle;
}
